.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 0.72;
    border-top: solid $line;
    margin-top: 2.5rem;
    width: 100vw;

    &__content{
        font-family: 'TT Lakes';
        font-size: 1rem;
        line-height: 1rem;
        color: $text;
        mix-blend-mode: normal;
        margin-top: 1rem;
        padding-bottom: 1rem;

        @media (min-width: 56.2rem){
            font-size: 0.9rem;
        }

        @media(min-width: 47.5rem){
            &:first-child{
                text-align: left;
            }
            &:nth-child(2){
                white-space: nowrap;
            }
            &:last-child{
                flex-basis: 33%;
                text-align: right;
            }
        }

        @media(min-width: 90rem){
            &:first-child{
                text-align: left;
            }
            &:nth-child(2){
                white-space: nowrap;
            }
            &:last-child{
                flex-basis: 33%;
                text-align: right;
            }
        }
    }

    
    @media(min-width: 47.5rem){
        flex-direction: unset;
        gap: 9.1rem;
    }

    @media(min-width: 90rem){
        flex-direction: unset;
        gap: 9.1rem;
    }
}