.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 0.72;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    border-top: solid $line;
    margin-top: 2.5rem;

    &__content{
        font-family: 'TT Lakes';
        font-size: 1rem;
        line-height: 1rem;
        color: $text;
        mix-blend-mode: normal;
        margin-top: 1rem;
        padding-bottom: 1rem;
    }
}